<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") -%>
  <body>
    <%- include("./partials/header.ejs") -%>
    <h1>Home</h1>
    <a href="./main"><span>Go to main</span></a>
    <%- include("./partials/signout.ejs") -%>
    <%- include("./partials/footer.ejs") -%>
  </body>
</html>
