<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") -%>
<body>
    <%- include("./partials/header.ejs") -%>
    <h1>Welcome to our main page</h1>
    <%- include("./partials/signout.ejs") -%>
    <%- include("./partials/footer.ejs") -%>
</body>
</html>