<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <form action="/signup" method="post">
      <h2>Sign Up</h2>
      <label for="email"
        >Email: <input type="email" name="email" id="email"
      /></label>
      <div class="email-error"></div>
      <label for="password"
        >Password: <input type="password" name="password" id="password"
      /></label>
      <div class="password-error"></div>
      <button type="submit">Signup</button>
    </form>
    <% const sentences = lorem.map(item => { %>
    <p><%= item %></p>
    <% })%> <% sentences.join("") %>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
