<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") -%>
  <body>
    <form action="" method="" class="signup">
      <h2>Sign Up</h2>
      <label for="email"
        >Email: <input type="email" name="email" id="email"
      /></label>
      <div class="email-error"></div>
      <label for="password"
        >Password: <input type="password" name="password" id="password"
      /></label>
      <div class="password-error"></div>
      <button type="submit">Signup</button>
    </form>
    <% const sentences = lorem.map(item => { %>
    <p><%= item %></p>
    <% })%> <% sentences.join("") %> 
    <%- include("./partials/footer.ejs") -%>
  </body>
  <script>
    const form = document.querySelector(".signup");
    const emailError = document.querySelector(".email-error");
    const passwordError = document.querySelector(".password-error");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      emailError.textContent = "";
      passwordError.textContent = "";

      const email = document.querySelector("#email").value;
      const password = document.querySelector("#password").value;

      try {
        const res = await fetch("/signup", {
          method: "POST",
          body: JSON.stringify({ email, password }),
          headers: { "Content-Type": "application/json" },
        });
        if (!res.status === 200) {
          throw new Error(`Signup failed`);
        }
        const data = await res.json();
        console.log(data);
      } catch (err) {
        console.log(err);
      }
      form.reset();
    });
  </script>
</html>
